$black: #130A08 ;
$white: #EDEEE9 ;
$brown: #2C1D18 ;
$tan:   #8C8376 ;
$grey1: #443C3A ;
$grey2: #67615C ;
$grey3: #A6A49C ;
$grey4: #C6CAC8 ;
$blue:  #5681B5 ;


$textBg: $grey3;
$headerBg: $tan;
$footerBg: $grey1;

$linkColor: $blue;

$navText: $blue;
$navBg: $grey1;
$navBgHover: $grey2;

.headroom {
  background-color: $headerBg;
}

footer {
  background-color: $footerBg;
}

.content {
  background-color: rgba( $textBg, 0.7);
  padding: 0 2em;
  padding-bottom: 1em;
}

a {
  color: $linkColor
}
