@import 'colors';

@mixin borderRadius ($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.nav {
  float: right;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    @include borderRadius(3px);

    color: $navText;
    background: $navBg;
    display: block;
    margin-right: 6px;
    padding: 3px 9px;
    text-decoration: none;

    &:hover {
      background: $navBgHover;
    }
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 0 100px;
}
footer {
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    float: left;
    margin-right: 6px;
    padding: 3px 9px;
  }
}
