<!--
title: About Us
-->
<div class="content">
<h1>About Us</h1>			
<p>Need an easy way to experience your island? </p>
<p>IslanderAccess brings you tickets to exciting or informational events.</p>
<p>We use the most updated technology and security features to bring you a safe and convenient way to purchase tickets to your favourite events. IslanderAccess works with local event organizers to find great upcoming events that would interest our customers. You can conveniently purchase online and then print or use your smartphone to redeem your ticket.</p>
<p>IslanderAccess wants you to Discover.Save.Enjoy.</p>
<p>If you would like to see particular events on our site, let us know and we will offer opportunities that you want to see!</p>
</div>
