<!--
title: Carnival Information
-->
<div class="content">
	<h1>Carnival Information</h1>
	<p>Find out more about Trinidad and Tobago Carnival by clicking on the links below!</p>

	<p><a href=http://gotrinidadandtobago.com/trinidad-and-tobago/carnival-in-trinidad.html>Go Trinidad and Tobago Tourism Page</a></p>
	<p><a href=https://en.wikipedia.org/wiki/Trinidad_and_Tobago_Carnival>Trinidad and Tobago Carnival on Wikipedia</a></p>

	<iframe width="420" height="315" 
		src="https://www.youtube.com/embed/OOQ8hZoJ32Y">
	</iframe>	
</div>