<!--
title: How it Works
-->
<div class="content">
	<h1>FAQ</h1>
	<ul>
		<li>
			<h3>What forms of payment do you accept?</h3>
			<p>We accept all major credit cards, such as Visa, Mastercard, and American Express.</p>
		</li>
		<li>
			<h3>How do I pay for a ticket?</h3>
			<p>After selecting an event, and selecting the number tickets to purchase, you will go through the Checkout process where you will be able to enter your credit card information.</p>
		</li>
		<li>
			<h3>How are my tickets delivered?</h3>
			<p>All tickets are "Print at Home" tickets. When a purchase is complete you will receive an email with your purchase receipt and a link to your electronic ticket(s).</p>
		</li>
		<li>
			<h3>How do I use an electronic ticket?</h3>
			<p>Each ticket contains a unique barcode which will be scanned at the point of entry to the event. You can print the ticket at home or show it on your mobile device as long as the barcode can be scanned.</p>
		</li>			
	</ul> 
</div>
