<!--
title: Fatima Fete
-->
<div class="content">
<h1>Exhale - All inclusive carnival fete</h1>
<p>Presenting Fatima Old Boys' Association Fete!&nbsp;(<a href="http://www.foba.fatima.edu.tt/">Alumni Association Website</a>)</p>
<p>Fatima College has been known&nbsp;accross the region to host one of the most premium events of the carnival season!</p>
<p>With this party being the main fund raising event for the school during the year, this event never disappoints. All proceeds go to ensuring that necessary maintenance and other costs are covered. Click <a href="https://tickets.islanderaccess.com/event/fatimafete">here</a>&nbsp;to buy tickets and support this great school!&nbsp;</p>
</div>
