<!--
  title: Privacy and Refunds Policy
-->
<div class="content">
  <h1>Privacy Policy</h1>
  <h2>Information Collection</h2>
  <p>IslanderAccess only collects information voluntarily provided by subscribers. The information we collect includes personal information such your name, email address, account password, phone number, shipping and billing addresses and optional demographic information that aids in providing you a better online experience.</p>
  <p>Any additional information you provide us, such as reviews, photos or ratings, may also be collected by IslanderAccess. Correspondence, feedback, comments or emails sent to IslanderAccess will be collected and become the property of IslanderAccess. Any communication we receive to help better our services may be used to improve our website or used for promotional purposes without any compensation or royalties provided to you.</p>
  <p>We may also collect associated information from other social media networks that are used in the conjunction with IslanderAccess. As an example, we may use your public profile information as a way to display your association with IslanderAccess to your friends and connections. We encourage our subscribers to share our website information using social media, but we caution you when it comes to providing additional personal information on these public websites. If you access IslanderAccess by way of a mobile device, we may collect specific location information if you have location features activated on your device.</p>
  <p>Currently, IslanderAccess does not collect billing or credit card information for the purchase of any tickets on our website, but we reserve the right to store this information in the future to expedite purchasing.</p>
  <p>Should you choose to sign up with our services, we may use your email address and full name to send you information regarding the latest events, updates on our policies and services, send you emails on behalf of a friend sending a personal message, or send you emails directly related to the offerings on the website. As with any website, we offer an unsubscribe option if an anytime you wish to opt out of receiving IslanderAccess communications.</p>
  <h2>Disclosure Information</h2>
  <p>We value your privacy and support of our services, and we do not sell, trade or share your personal information for marketing purposes with third parties. IslanderAccess may share your personal information with third-party associates to better improve our services and customer support. Any personal information provided a third-party associate is strictly limited to use only the information necessary to provide the services requested by IslanderAccess. We also reserve the right to use your personal information for data analysis to better improve services.</p>
  <h2>Security</h2>
  <p>IslanderAccess is committed to the security of your personal and financial information, and we are continually updating our security measures. Although we take appropriate measures to secure your personal information, the use of our website and services is not without risk.</p>
  <h2>Privacy Policy Updates</h2>
  <p>As our website and services evolve, we will occasionally update our privacy policy. IslanderAccess will communicate any updates by sending emails or posting notifications on our website. If you do not approve with any of the policy changes made, you must unsubscribe from the website. Continued subscription with IslanderAccess serves as recognition and agreement to the changes made.</p>
</div>
