<!--
  title: Terms and Conditions
-->
<div class="content">
  <h1> Terms and Conditions </h1>
  <p>IslanderAccess.com (‘the Site’) is an online service owned and operated by Matrona LLC, doing business as (Islander Access). Islander Access allows individuals to create, promote and purchase tickets to any type of event.</p>
  <p>Your use of the services provided by Islander Access is subject to the following Terms of Service. Please read these <strong>Terms and Conditions</strong> carefully before using the Site. By using the Site, you are agreeing to be bound by the following terms and conditions. If you choose not to be bound by the terms and conditions, Islander Access does not grant you the right to use the Site and you must not use this Site.<br />
  <strong>1. ACCEPTANCE OF TERMS AND CONDITIONS</strong></p>
  <p><strong>1.1 Overview</strong><br />
  The following terms and conditions govern all use by you as a ticket buyer (a person/entity registering and purchasing an event ticket on the Islander Access system) or non-event organizer such as a user or visitor using and sharing informationof (a) Islander Access websites and domains (including all webpages, subdomains and subparts therein contained on islanderaccess.com (“the Site&#8221;), (b) any and all services available on or through the Site or otherwise provided by Islander Access in connection with events listed on the Site, and (c) all Software (collectively, the &#8220;Services&#8221;). The Services are owned and operated by Islander Access and/or its licensors. The Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies and procedures that may be established from time to time by Islander Access in respect of the Services. BY USING OR ACCESSING ANY PART OF THE SERVICES, YOU AGREE TO ALL OF THE TERMS AND CONDITIONS CONTAINED HEREIN AND ALL OTHER OPERATING RULES, POLICIES AND PROCEDURES THAT MAY BE ESTABLISHED FROM TIME TO TIME BY  ISLANDER ACCESS IN RESPECT OF THE SERVICES. IF YOU DO NOT AGREE TO ANY OF SUCH TERMS, CONDITIONS, RULES, POLICIES OR PROCEDURES, YOU MAY NOT USE OR ACCESS THE SERVICES.<br />
  <strong>1.2 Variation of the Terms and Conditions</strong><br />
  Islander Access reserves the right, at its sole discretion, to modify or replace any of the terms and conditions at any time. It is your responsibility to check these terms and conditions periodically for changes. Your continued use of the Services following the posting of any changes to these terms and conditions constitutes acceptance of those changes. If any change to these terms and conditions is not acceptable to you, your sole remedy is to cease accessing, browsing and otherwise using the Services.</p>
  <p>&nbsp;</p>
  <p><strong>2. DESCRIPTION OF  ISLANDER ACCESS</strong></p>
  <p>Islander Access provides event organizers and/or promoters to promote and sell tickets for events and other activities through an online interface. Event organizers and/or promoters are responsible for determining the ticket price, capacity and location of their event. Payments for ticket sales purchased by ticket buyers are collected by Islander Access on behalf of the event organizers and/or promoters via third party merchant account providers. Ticket payments are remitted to the event organizers and/or promoters once the event has occurred. These terms and conditions apply to you and your use of the Services as a ticket buyer and/or non-event organizer user or visitor of the Services (&#8220;non-event organizer user &#8221; or &#8220;you&#8221;).<br />
  <strong>3. YOUR USE OF THE SERVICES</strong></p>
  <p><strong>3.1 The Services</strong><br />
  Subject to your compliance with the terms hereof, and applicable laws, rules and regulations, Islander Access hereby grants you a non-exclusive, non-transferable, non-sublicensable right to access and use the Services solely for the purposes of browsing the Site, and searching for, viewing, purchasing or booking tickets for, and interacting with, an Event. Notwithstanding the foregoing, you shall not, and shall not permit anyone else to, directly or indirectly: (i) modify, reproduce or otherwise create derivatives of any part of the Services or site content; (ii) reverse engineer, disassemble, decompile or otherwise attempt to discover the source code or structure, sequence and organization of all or any part of the Services; (iii) engage in any activity that interferes with or disrupts the Services; or (iv) engage in any fraudulent activity or activity that facilitates fraud.<br />
  <strong>3.2 Software</strong><br />
  If you are allowed to download or use any Software in connection with the Services, Islander Access hereby grants you a personal, non-transferable, non-sublicensable, revocable, non-exclusive license to use the Software solely for your internal use in connection with the Services, and only in accordance with these terms and conditions and the written instructions/directions (if any) provided by Islander Access in conjunction with the Software. For purposes of these terms and conditions, &#8220;Software&#8221; shall mean any and all software that is available on or through the Site or otherwise provided by Islander Access, including without limitation Islander Access’s mobile applications). For clarity, the Software will be deemed a part of the &#8220;Services&#8221; hereunder.<br />
  The Software and the transmission of applicable data is subject to applicable export controls. No Software may be downloaded or otherwise exported or re-exported in violation of such export laws. Downloading or using the Software is at your sole risk, and Islander Access makes no representations or warranties that your use of the Services is legal or permissible in your jurisdiction of residence. You shall also be responsible for using the Software in a manner that complies with all federal, state and local laws and the rules and regulations of all credit card companies.</p>
  <p>&nbsp;<br />
  <strong>3.3 Accessibility</strong><br />
  You understand and agree that the Services may, at times, be inaccessible or inoperable for any reason, including, but not limited to: (i) equipment or communications malfunctions; (ii) periodic maintenance, repairs, or administrative reviews which we may undertake from time-to-time; or (iii) causes beyond our control or which are not reasonably foreseeable by us. Our Service is offered as-is, and as-available. We have no control over your ability to access the Services at any particular time and we are not responsible for any limitation of services due to technical difficulties beyond our</p>
  <p>control, including any interruption of service in providing the Service.<br />
  <strong>3.4 Ticket Limit</strong><br />
  You may be limited to a certain number of tickets for each event. This policy is intended to discourage other purchasers from engaging in unfair trade practices. If we learn that you are purchasing more than the pre-determined number of tickets for an event and engaging in practices that Islander Access, in its sole discretion, determine to be unfair, Islander Access will terminate your account and cancel your ticket purchase without prior notice to you.<br />
  <strong>3.5 Order Confirmation and Billing Information Verification</strong><br />
  If you do not receive an email confirmation of your purchase after submitting payment information, or if you experience an error message or service interruption after submitting payment information, it is your responsibility to confirm with Islander Access whether or not your order has been placed by contacting Islander Access customer support by emailing Islander Access at support@islanderaccess.com. Only you may be aware of any problems that may occur during the purchase process. Islander Access will not be responsible for such losses (whether monetary or otherwise).</p>
  <p><strong> </strong></p>
  <p><strong>3.6 Event Restrictions</strong><br />
  Some events listed on Islander Access may have certain restrictions. For example, some events will only admit people over a certain minimum age or must have a certain affiliation, such as being a student at a particular college or university. It is your responsibility to determine if a particular Event restriction applies to you (and to your party, if applicable) and to fulfill all criteria in order to gain admittance. No refunds will be</p>
  <p>given if you are declined entry to an Event due to a restriction.</p>
  <p>&nbsp;</p>
  <p><strong>4. SALES &amp; PAYMENT</strong></p>
  <p><strong>
  <strong>4.1 Cancelled Events</strong><br />
  Occasionally, events may be cancelled or postponed by the event organizers and/or promoters due to unforeseen circumstances. If an event is cancelled or postponed, refunds will be determined by the event organizers and/or promoters. It is the responsibility of the event organizers and/or promoters to communicate the refund details to ticket buyers.</p>
  <p>&nbsp;</p>
  <p>To find out about the refund availability and process:</p>
  <p>&nbsp;</p>
  <p>(i) you will be notified by email if you have opted in to receive email updates; or</p>
  <p>(ii) you can review notices posted on the event organizers and/or promoters’ website or contact the event organizers and/or promoters via the email address supplied on the event organizers and/or promoters’ listing. If the event was moved or rescheduled, the event organizers and/or promoters may set refund limitations. You should contact the event organizers and/or promoters for exact instructions.</p>
  <p>&nbsp;</p>
  <p><strong>5. Event Content</strong></p>
  <p>Event organizers and/or promoters are entirely responsible for the quality of their events and that the actual event is consistent with how it was advertised. Islander Access is in no way responsible for event quality, start times, or whether an event was presented as billed. All complaints or concerns about an event should be communicated to the event organizers and/or promoters responsible for the event in question.<br />
  You acknowledge and agree that event organizers and/or promoters may reserve the right to set the terms and conditions for their own events, and you agree to be bound by such additional terms and conditions, including, without limitation, in respect of<br />
  (i) Admission to Events (e.g. latecomers may not be admitted until a suitable break); and (ii) the right to change/withdraw advertised artists, programs or seating without notice.</p>
  <p>&nbsp;</p>
  <p><strong>6. YOUR REGISTRATION OBLIGATIONS</strong></p>
  <p>To access certain functionality of the Services, you must be a registered user of the Services. To be a registered user of the Services, whether as a ticket buyer or other non-event organizer, you agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the account creation form (the &#8220;Registration Data&#8221;) and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or Islander Access has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Islander Access has the right to suspend or terminate all of your accounts and refuse any and all of your current or future use of the Services (or any portion thereof). You must be at least 18 years of age, or the legal age of majority where you reside if that jurisdiction has an older age of majority, to register for an account.<br />
  You represent and warrant the following (i) you are over (18) years of age, (ii) you have the right power, and authority to enter into and perform your obligations hereunder, (ii) you are not buying tickets specifically for resale and are not a re-seller, wholesaler, or bulk purchaser of tickets, (iv) you will not use our Services for any unacceptable uses, as partially listed herein, (v) you will only use our Services to transmit and disseminate information reasonably related to your ticket purchase and/or event information; and (vi) the information you provide, including but not limited to all information concerning your name, address, credit card number, and other identifying information of any nature will be true, complete and correct, and you will update all information as it changes.</p>
  <p><strong>7. ACCOUNT, PASSWORD AND SECURITY</strong></p>
  <p>As part of the account creation process, you will create a password and account. You are responsible for maintaining the confidentiality of the password and account, and are fully responsible for all activities that occur under your account, including, without limitation, all actions by sub-users registered under your account. You agree to (a) immediately notify Islander Access of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. Islander Access cannot and will not be liable for any loss, damage or other liability arising from your failure to comply with this section or from any unauthorized access to or use of your account. In the event of any dispute between two or more parties as to account ownership, you agree that Islander Access shall be the sole arbiter of such dispute in its sole discretion and that Islander Access&#8217;s decision (which may include termination or suspension of any account subject to dispute) shall be final and binding on all parties.</p>
  <p>&nbsp;</p>
  <p><strong>8. CONTENT</strong></p>
  <p><strong>8.1 Site Content</strong><br />
  You agree that all material, including without limitation information, data, software, text, design elements, graphics, images and other content (collectively, &#8220;Content&#8221;), contained in or delivered via the Services or otherwise made available by Islander Access in connection with the Services (collectively, &#8220;Site Content&#8221;) is protected by copyrights, trademarks, service marks, trade secrets or other intellectual property and other proprietary rights and laws. Islander Access may own the Site Content or portions of the Site Content may be made available to Islander Access through arrangements with third parties. Except as expressly authorized by Islander Access in writing, you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works of any Site Content, or post any Site Content on any other web site or in a networked computer environment for any purpose. Reproducing, copying or distributing any Site Content for any purpose is strictly prohibited without the express prior written permission of Islander Access. You shall use the Site Content only for purposes that are permitted by these terms and conditions and any applicable laws and regulations (foreign and domestic). Any rights not expressly granted herein are reserved.</p>
  <p>&nbsp;<br />
  <strong>8.2 Your Content</strong><br />
  You acknowledge and agree that if you contribute, provide or make available any Content to the Site (&#8220;Your Content&#8221;), you hereby grant to Islander Access a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, transferable, sublicensable (through multiple tiers) right and license to use, reproduce, adapt, modify, distribute, translate, publish, create derivative works based on, perform, display and otherwise exploit Your Content, in whole or in part, in any media now known or hereafter developed, for any purpose whatsoever. You represent and warrant that you have all the rights, power and authority necessary to grant the foregoing license, and that all Your Content (i) does not infringe, violate, misappropriate or otherwise conflict with the rights of any third party, and is not otherwise unlawful, and (ii) complies with all applicable laws and regulations (foreign and domestic). In addition, Your Content must be accurate and truthful. Islander Access reserves the right to remove any of Your Content from the Site at any time if Islander Access believes in its sole discretion that it does not comply with these Terms and Conditions. In addition, you agree that Islander Access may use your name and logo (whether or not you have made it available through the Site) for the purpose of identifying you as an existing or past customer of Islander Access both on the Site and in marketing and promotional materials. Notwithstanding the foregoing, Your Content shall not include any non-identifiable aggregate data compiled or collected by Islander Access in connection with your, or any third party’s use of the Services (including, without limitation, information received from Google Analytics) (“Data”), which, as between you and Islander Access shall be owned exclusive by Islander Access. To the extent that the Data is, or cannot pursuant to applicable law be owned, by Islander Access, you hereby grant to Islander Access an exclusive, perpetual, irrevocable, worldwide, royalty-free, sublicensable right and license to use, reproduce, adapt, modify, distribute, translate, publish, create derivative works based on, perform, display and otherwise exploit Data.<br />
  <strong>8.3 INFRINGEMENT </strong><br />
  If you believe in good faith that any Content made available in connection with the Services infringes your copyright, you (or your agent) may send us a notice requesting that the Content be removed, or access to it blocked. Notices and counter-notices must meet the then-current statutory requirements imposed by the relevant authority or other applicable law.<br />
  <strong>9. CONDUCT</strong></p>
  <p><strong>9.1 Certain Restrictions</strong><br />
  Whether you are using the Services as a ticket buyer or non-event organizer, you understand that you are liable for all Content, in whatever form, that you provide or otherwise make available to or through the Services, including to event organizers and/or promoters, ticket buyers and non-event organizers and/or promoters. You agree not to use the Services to:<br />
  · upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another&#8217;s privacy, hateful, or racially, ethnically or otherwise objectionable;<br />
  · harm minors in any way;<br />
  · facilitate gambling, gaming, lotteries, raffles, contests, sweepstakes and/or any other activity featuring the award of a prize<br />
  · impersonate any person or entity, including, but not limited to, an Islander Access representative or forum leader, or falsely state or otherwise misrepresent your affiliation with a person or entity;<br />
  · forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Services;<br />
  · upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);<br />
  · upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other intellectual property or proprietary rights of any person or entity;<br />
  · upload, post, email, transmit or otherwise make available any Content related to the sale or provision of goods and services other than the sale or provision of tickets and registrations to Events listed on the Site and other goods and services being sold or provided in conjunction with such Events;<br />
  · upload, post, email, transmit or otherwise make available any Content that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or to otherwise interact with the Services in a manner not permitted by these terms and conditions or expressly authorized by Islander Access interfere with or disrupt the Services or servers or networks connected to the Services, or disobey any requirements, procedures, policies or regulations of networks connected to the Services;<br />
  · stalk or otherwise harass any person or entity.<br />
  <strong>9.2 Certain Remedial Rights</strong><br />
  Whether you are using the Services as a ticket buyer or non-event organizer, you acknowledge that Islander Access does not pre-screen any Content provided or made available by you or any third party in connection with the Services, but that Islander Access and its designees shall have the right (but not the obligation) in their sole discretion to (i) monitor, alter, edit, or remove any of your Content, in whole or in part, and/or (ii) terminate your right to use the Services at any time (with or without notice) for any reason or no reason. You acknowledge and agree that Islander Access may preserve Your Content and may also disclose Your Content for any reason, including without limitation if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce these terms and conditions; (c) respond to claims that any of Your Content violates the rights of third parties; and/or (d) protect the rights, property, or personal safety of Islander Access, its users and/or the public. You understand that the technical processing and transmission of the Services, including Your Content, may involve (i) transmissions over various networks and across national borders; and/or (ii) changes to conform and adapt to technical requirements of connecting networks or devices.</p>
  <p>&nbsp;</p>
  <p><strong>10.  ISLANDER ACCESS SPECIAL ADMONITIONS FOR INTERNATIONAL USE </strong></p>
  <p>Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable Content. By way of illustration and not limitation, you agree to comply with all applicable laws and regulations (foreign and domestic) regarding the transmission of technical data exported from the country in which you reside to other countries.<br />
  <strong>11. INDEMNITY</strong></p>
  <p>You agree to defend, indemnify and hold Islander Access, its licensors, parents, affiliates, suppliers, advertisers and sponsors, and each of their respective directors, officers, employees, consultants, agents and representatives, harmless from any and all damage (whether direct, indirect, incidental, consequential or otherwise), loss, liability, cost and expense (including, without limitation, reasonable attorneys&#8217; and accounting fees) resulting from any claim, demand, suit, proceeding (whether before an arbitrator, court, mediator or otherwise), or investigation made by any third party (each a &#8220;Claim&#8221;) due to or arising out of: your Content; the Events listed on the Service; your use of, contribution to or connection with the Service; your violation of these terms and conditions; and/or your violation of any rights of any third party. Islander Access shall provide notice to you of any such Claim, provided that the failure or delay by Islander Access in providing such notice shall not limit your obligations hereunder. Islander Access reserves the right to assume the exclusive defense and control of any matter which is subject to indemnification under this Section, and in such case, you agree to cooperate with all reasonable requests in assisting Islander Access&#8217;s defense of such matter.<br />
  <strong>12. SERVICE MODIFICATIONS/SUSPENSIONS</strong></p>
  <p>Islander Access reserves the right at any time to, and from time to time may, modify, suspend or discontinue, temporarily or permanently, the Services (or any part thereof) for any reason or no reason with or without notice. You agree that Islander Access shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Services.</p>
  <p>&nbsp;</p>
  <p><strong>13. TERMINATION</strong></p>
  <p>Without limiting in any way any other rights or remedies that Islander Access may have, Islander Access and its licensors, in any of their sole discretion, may terminate your password, accounts (or any part thereof) and/or your right to use the Services, and remove and discard any and all of Your Content within the Services, at any time for any reason or no reason, including, without limitation, for lack of use, failure to timely pay any fees or other monies due to Islander Access, or if Islander Access believes that you have violated or acted inconsistently with the letter or spirit of these terms and conditions. You agree that any termination of your right to use the Services may be effected without prior notice, and acknowledge and agree that Islander Access and its licensors may immediately deactivate or delete your account and all related Content and files related to your account and/or bar any further access to such files or the Services. Further, you agree that Islander Access and its licensors shall not be liable to you or any third-party for any termination of your right to use or otherwise access the Services. All provisions of these terms and conditions that by their nature should survive termination of your right to use the Services shall survive (including, without limitation, all limitations on liability, releases, indemnification obligations, disclaimers of warranties, and intellectual property protections and licenses).</p>
  <p><strong> </strong></p>
  <p><strong> </strong></p>
  <p><strong> </strong></p>
  <p><strong>14. LINKS</strong></p>
  <p>The Services may provide, or third parties may provide, links to other Internet websites or resources. Because Islander Access has no control over such websites and resources, you acknowledge and agree that Islander Access is not responsible for the availability of such websites or resources, and does not endorse and is not responsible or liable for any content, advertising, products, services or other materials on or available from such websites or resources. You further acknowledge and agree that Islander Access shall not be responsible or liable for any damage or loss caused or alleged to be caused by or in connection with any use of or reliance on any such Content, advertising, products, services or other materials available on or through any such website or resource.</p>
  <p>&nbsp;</p>
  <p><strong>15. DISCLAIMER OF WARRANTIES</strong></p>
  <p>THE SERVICES ARE PROVIDED ON AN &#8220;AS IS&#8221; AND &#8220;AS AVAILABLE&#8221; BASIS.  ISLANDER ACCESS (INCLUDING ITS LICENSORS) HEREBY EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE.  ISLANDER ACCESS AND ITS LICENSORS MAKE NO WARRANTY THAT: (I) THE SERVICES WILL MEET YOUR REQUIREMENTS, (II) THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (III) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE, (IV) THE QUALITY, SAFETY OR LEGALITY OF ANY CONTENT, PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU, OR EVENTS ATTENDED, THROUGH THE SERVICES, OR THE SERVICES THEMSELVES (OR ANY PART THEREOF), WILL MEET YOUR EXPECTATIONS, OR (V) ANY ERRORS IN THE SERVICES WILL BE CORRECTED.  ISLANDER ACCESS AND ITS LICENSORS ARE NOT RESPONSIBLE AND SHALL HAVE NO LIABILITY FOR THE CONTENT, PRODUCTS, SERVICES, ACTIONS OR INACTIONS OF ANY USER, TICKET BUYER OR OTHER NON-EVENT ORGANIZER, EVENT OWNER OR THIRD PARTY BEFORE, DURING AND/OR AFTER AN EVENT; AND  ISLANDER ACCESS AND ITS LICENSORS WILL HAVE NO LIABILITY WITH RESPECT TO ANY WARRANTY DISCLAIMED IN (I) THROUGH (V) ABOVE. YOU ACKNOWLEDGE THAT  ISLANDER ACCESS AND ITS LICENSORS HAVE NO CONTROL OVER AND DO NOT GUARANTEE THE QUALITY, SAFETY OR LEGALITY OF EVENTS ADVERTISED, THE TRUTH OR ACCURACY OF ANY USERS&#8217; (INCLUDING TICKET BUYERS&#8217;, OTHER NON-EVENT ORGANIZERS  AND/OR PROMOTERS&#8217; AND EVENT ORGANIZERS  AND/OR PROMOTERS&#8217;) CONTENT OR LISTINGS, OR THE ABILITY OF ANY USER (INCLUDING TICKET BUYERS, OTHER NON-EVENT ORGANIZERS  AND/OR PROMOTERS AND EVENT ORGANIZERS  AND/OR PROMOTERS) TO PERFORM, OR ACTUALLY COMPLETE A TRANSACTION. THE FOREGOING DISCLAIMERS SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW. Notwithstanding the foregoing, you may report the misconduct of users, ticket buyers, non-event organizers and/or promoters, event organizers and/or promoters and/or third parties in connection with the Site or any Services to Islander Access. Islander Access, in its sole discretion, may investigate the claim and take necessary action.<br />
  <strong>16. LIMITATION OF LIABILITY.</strong></p>
  <p> ISLANDER ACCESS, AND ITS LICENSORS SHALL NOT BE LIABLE UNDER ANY CIRCUMSTANCES OR UNDER ANY LEGAL THEORY, WHETHER IN TORT, CONTRACT, OR OTHERWISE, WITH RESPECT TO THE SERVICES, OR ANY OTHER SUBJECT MATTER OF THIS TERMS AND CONDITIONS, FOR: (I) ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF  ISLANDER ACCESSHAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), (II) THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES, (III) AMOUNTS IN EXCESS OF US$1,000.00 IN THE AGGREGATE FOR ALL CLAIMS WITH RESPECT TO THE SERVICES, OR (IV) ANY MATTERS BEYOND  ISLANDER ACCESS&#8217;S REASONABLE CONTROL.  ISLANDER ACCESS AND ITS LICENSORS SHALL HAVE NO LIABILITY WITH RESPECT TO ANY OF YOUR CONTENT OR ANY CONTENT OF ANY OTHER USER OF THE SERVICES. IN ADDITION,  ISLANDER ACCESS IS NOT AFFILIATED WITH, AND HAS NO AGENCY OR EMPLOYMENT RELATIONSHIP WITH, ANY THIRD PARTY SERVICE PROVIDER USED IN CONJUNCTION WITH THE SERVICES (INCLUDING, WITHOUT LIMITATION, ANY FPM SERVICE), AND  ISLANDER ACCESS AND ITS LICENSORS HAVE NO RESPONSIBILITY FOR, AND HEREBY DISCLAIM ALL LIABILITY ARISING FROM, THE ACTS OR OMISSIONS OF ANY SUCH THIRD PARTY SERVICE PROVIDER. THE FOREGOING LIMITATIONS SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.<br />
  <strong>17. RELEASE.</strong></p>
  <p>IN CONSIDERATION OF BEING PERMITTED TO ACCESS AND USE THE SERVICES, YOU HEREBY AGREE TO RELEASE  ISLANDER ACCESS, ITS LICENSORS AND THEIR AFFILIATES, AND EACH OF ITS AND THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, CO-BRANDERS, OTHER PARTNERS, AND EMPLOYEES FROM ALL DAMAGES (WHETHER DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR OTHERWISE), LOSSES, LIABILITIES, COSTS AND EXPENSES OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH DISPUTES BETWEEN YOU AND THIRD PARTIES (INCLUDING OTHER EVENT ORGANIZERS AND/OR PROMOTERS, TICKET BUYERS, AND OTHER NON-EVENT ORGANIZERS  AND/OR PROMOTERS) IN CONNECTION WITH THE SERVICES, YOUR ACCESS AND USE OF THE SERVICES, OR ANY EVENTS LISTED THEREON.<br />
  <strong>18. PRIVACY</strong></p>
  <p>All information provided by you or collected by Islander Access in connection with the Services is governed by Islander Access&#8217;s Privacy Policy, a copy of which is located at <a href="https://www.islanderaccess.com/privacy-policy">https://www.islanderaccess.com/privacy-policy</a>, which is hereby incorporated by reference into these terms and conditions. Islander Access strongly recommends that you review the Privacy Policy closely. Further, any information or Data submitted or provided by you to the Services may be publicly accessible or used by Islander Access or Event organizers and/or promoters. You should take care to protect private information or information that is important to you. Islander Access and its licensors shall not be responsible for protecting any such information and are not liable for the protection of privacy of electronic mail or other information transferred through the Internet or any other network that you may use. Please be aware that if you decide to disclose personally identifiable information on the Services, this information may become public. Islander Access and its licensors do not control and shall not be responsible for the acts of you or any other users (whether event organizers and/or promoters, ticket buyers, other non-event organizers and/or promoters or otherwise) of the Services.</p>
  <p>&nbsp;</p>
  <p><strong>19. NOTICE</strong></p>
  <p>Notices to you may be made via either email or regular mail to the address in Islander Access&#8217;s records. The Services may also provide notices of changes to this TERMS AND CONDITIONS or other matters by displaying notices or links to notices to you generally on the Services.</p>
  <p>&nbsp;</p>
  <p><strong>20. TRADEMARK INFORMATION</strong></p>
  <p>The trademarks, service marks, and logos of Islander Access or its licensors (the &#8221; Islander Access Trademarks&#8221;) used and displayed in connection with the Services are registered and unregistered trademarks or service marks of Islander Access or its licensors. Other company, product, and service names used in connection with the Services may be trademarks or service marks owned by third parties (the &#8220;Third Party Trademarks&#8221;, and, collectively with Islander Access Trademarks, the &#8220;Trademarks&#8221;). The offering of the Services shall not be construed as granting, by implication, estoppel, or otherwise, any license or right to use any Trademark displayed in connection with the Services without the prior written consent of Islander Access specific for each such use. The Trademarks may not be used to disparage Islander Access, any third party or Islander Access&#8217;s or third party&#8217;s products or services, or in any manner (in Islander Access&#8217;s sole judgment) that may damage any goodwill in the Trademarks. Use of any Trademarks as part of a link to or from any site is prohibited unless Islander Access approves the establishment of such a link by prior written consent specific for each such link. All goodwill generated from the use of any Islander Access Trademark shall inure to Islander Access&#8217;s benefit.<br />
  <strong>21. GENERAL</strong></p>
  <p><strong>21.1 Entire Agreement</strong><br />
  These terms and conditions (constitutes the entire agreement between you and Islander Access and governs your use of the Services as a ticket buyer or other non-event organizer, superseding any prior or contemporaneous agreements, proposals, discussions or communications between you and Islander Access on the subject matter hereof. You also may be subject to additional terms and conditions that may apply when you use affiliate services, third party Content, third party software or the Services in a manner other than as governed by these terms and conditions.<br />
  <strong>22.2 Choice of Law.</strong><br />
  These terms and conditions and the provision of the Services to you are governed by the laws of the Republic of Trinidad and Tobago.<br />
  <strong>21.3 Arbitration.</strong><br />
  Any controversy or claim arising out of or relating to these terms and conditions or the provision of the Services shall be exclusively settled by binding arbitration in accordance with the Arbitration Act Chapter 5:01. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in the Republic of Trinidad and Tobago, and judgment on the arbitration award may be entered in any court having jurisdiction thereof. Subject to the foregoing arbitration provision, you and Islander Access agree to submit to the personal jurisdiction of the courts located in the Republic of Trinidad and Tobago. Either you or Islander Access may seek any interim or preliminary relief from a court of competent jurisdiction in the Republic of Trinidad and Tobago, necessary to protect the rights or property of you or Islander Access (or its agents, suppliers, and subcontractors) pending the completion of arbitration.</p>
  <p>&nbsp;<br />
  <strong>21.4 Waiver; Invalid Provisions</strong></p>
  <p><strong> </strong></p>
  <p>The failure or delay of Islander Access to exercise or enforce any right or provision of these terms and conditions shall not constitute a waiver of such right or provision. No oral waiver, amendment or modification shall be effective under any circumstance whatsoever. If any provision of these terms and conditions is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavor to give effect to the parties&#8217; intentions as reflected in the provision, and the other provisions of these terms and conditions shall remain in full force and effect.<br />
  <strong>21.5 Assignment</strong>.<br />
  You may not assign your account or this Agreement, and such any assignment by you will be null and void; provided, however, that you may assign your account to the Services to a successor in interest in connection with the sale of your business as a going concern or in connection with the sale of all, or substantially all, of your assets. Islander Access has the right to assign these terms and conditions at any time with or without notice to you.<br />
  <strong>21.8 Violations.</strong></p>
  <p>Please report any violations of these terms and conditions by email to <a href="mailto:admin@islanderaccess.com">admin@islanderaccess.com</a>.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
